.services {
  width: 100%;
  min-height: 50vh;
  padding: 2rem 0;
  background-color: #004F96;
  display: flex;
  justify-content: center;
  align-items: center;

  .swiper {
    width: 100%;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .service {
    background: #fff;
    border-radius: 10px;
    padding: 1.5rem;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 300px;
    height: 100%;
    min-height: 340px;
    position: relative;
    transition: transform 0.3s ease;
    overflow: hidden;

    .icon {
      font-size: 4rem;
      margin-bottom: 1.5rem;
      transition: font-size 0.3s ease;
    }

    h3 {
      font-size: 1.4rem;
      margin-bottom: 0.5rem;
      color: #222;
    }

    h4 {
      font-size: 1.1rem;
      font-weight: 400;
      color: #555;
    }

    .description {
      position: absolute;
      top: 3.5rem;
      left: 0.5rem;
      right: 0.5rem;
      color: #333;
      font-size: 1rem;
      opacity: 0;
      overflow: hidden;
      transition: opacity 0.3s ease, max-height 0.3s ease;
      background: rgba(255, 255, 255, 0.95);
      padding: 0.5rem 1rem;
      border-radius: 8px;
      pointer-events: none;
    }

    &:hover {
      transform: translateY(-5px);

      .icon {
        font-size: 2rem;
        margin-bottom: 1rem;
      }

      h3,
      h4 {
        opacity: 0;
        pointer-events: none;
      }

      .description {
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  /* Nawigacja */
  .swiper-button-next,
  .swiper-button-prev {
    color: #000;
  }

  /* Paginacja */
  .swiper-pagination-bullet {
    background: #aaa;
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    background: #000;
  }
}


@media (max-width: 1024px) {
  .services {
    .service {
      .icon {
        font-size: 3.2rem;
      }
      h3 {
        font-size: 1.3rem;
      }
      h4 {
        font-size: 1rem;
      }
      .description {
        font-size: 0.95rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .services {
    padding: 1rem 0;

    .service {
      padding: 1rem;
      .icon {
        font-size: 2.5rem;
      }
      h3 {
        font-size: 1.2rem;
      }
      h4 {
        font-size: 0.95rem;
      }
    }
  }
}

@media (max-width: 576px) {
  .services {
    .service {
      padding: 1rem;
      min-height: 320px;

      .icon {
        font-size: 2.2rem;
        margin-bottom: 1rem;
      }

      h3 {
        font-size: 1.1rem;
      }

      h4 {
        font-size: 0.9rem;
      }

      .description {
        font-size: 0.9rem;
      }
    }

    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
  }
}